html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h3, h2, p, input {
    margin: 13px 15px;
  }

  button {
    position: relative;
    margin-left: 10px;
  }

.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 604px;
    height: 604px;
    top: 50px;
    border: 2px solid red;
}

.containerPlay {
    border: 2px dashed lightgreen;
}

.container-header {
    background-color: pink;
    margin: 0 auto;
    height: 100px;
    width: 600px;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.btn-group {
    left: 10px;
}

.container-body {
    height: 500px;
    width: 600px;
}

.splash-screen {
    display: block;
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.game-screen {
    display: none;
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.gameover-screen {
    display: none;
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    border: 1px solid black;
}

#arrowCanvas {
    position: relative;
    left: 50px;
}

.progress-bar {
    position: relative;
    bottom: 8px;
    background-color: greenyellow;
    width: 100%;
    height: 5px;
}

#scoreCanvas {
    position: absolute;
    top: 100px;
    left: 400px;
}